<form>
    <div class="row">
        <div class="col-xs-4">
            Зарегистрируйтесь и начните продавать услуги через интернет сегодня
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <label for="inputName">Имя</label>
            <input type="text" class="form-control" id="inputName" placeholder="Имя">
        </div>
        <div class="col-xs-2">
            <label for="inputLastName">Фамилия</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Фамилия">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <label for="inputSpec">Профессия</label>
            <input type="text"
                   ng-model="$ctrl.spec"
                   uib-typeahead="spec for spec in $ctrl.specs | filter:$viewValue | limitTo:8"
                   class="form-control"
                   id="inputSpec">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <label for="inputPhone">Телефон</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <select ng-options="item.name for item in $ctrl.phones" ng-model="$ctrl.index"></select>
                </div>
                <input type="phone" class="form-control" id="inputPhone" ng-value="$ctrl.index.code">
            </div>
        </div>
    </div>
</form>