<div class="start" ng-if="!$ctrl.token">

    <form class="form-inline">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" ng-model="$ctrl.name" placeholder="Enter your name...">
        </div>
        <button ng-click="$ctrl.callStart()" type="submit" class="btn btn-default">Start</button>
    </form>

</div>

<div class="question" ng-if="$ctrl.status === true">

    <h3>{{$ctrl.question}}</h3>

    <div ng-repeat="answer in $ctrl.answers">
        {{$index + 1}}. <a href="" ng-click="$ctrl.callAnswer($index + 1)"> {{answer}}</a>
    </div>

    <hr>

    <div class="alert alert-success" role="alert" ng-if="$ctrl.result === true">Correct</div>
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.result === false">Wrong. Try again</div>

</div>

<div class="status" ng-if="$ctrl.status === false">

    <hr>

    <div class="alert alert-info" role="alert">
        Congrats, {{$ctrl.name}}! You have {{$ctrl.points}} points. Have a nice day!
    </div>

</div>